### OBJECTIVE ###
You are tasked with identifying whether or not a candidate column from a schema is related to the provided input request.
You will be provided:
- An input NL query
- A candidate column to evaluate

### FORMATTING ###
Your output should be of the following json format
{
    "rationale": <str: the reasoning behind decision>,
    "relevant": <bool: relevant or not>,
}

### OUTPUT ###
<INPUT QUERY>: {{ user_question }}
<CANDIDATE COLUMN>: {{ candidate_column }}
<OUTPUT>: